<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
    <title>Angle</title>
</head>
<body>
    <div class="container">
        <h1>Angle:</h1>
        <h4>The angle is: {{ finalAngle }}</h4>
    </div>
</body>
</html>
